<!-- <div id="instafeed">
</div>

<script type="text/javascript">
    var feed = new Instafeed({
      get: 'popular',
      // userId: 1972973489,
      sortBy: "most-liked",
      resolution: "standard_resolution",
      accessToken: "1972973489.467ede5.f85a31b84fff4317bcf0b9e986097e00",
      after: function(){
        // slick slider
        $('#instafeed').slick({
          autoplay: "true",
          autoplaySpeed: 10,
        });
      }
    });
    feed.run();
</script>

 -->