
  <div id="temperature_today" class="graph_top"></div>
  <div id="temperature_month" class="graph_bottom"></div>
  <div id="temperature_average" class="graph_bottom"></div>  
  <div id="temp_display" class="graph_bottom"></div>

